.container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  padding: 0 2rem;
  background-color: var(--scrollColor);
  color: var(--textColor);
  z-index: 1;

}

nav a {
  margin: 0 1rem;
  color: var(--textColor);
  text-decoration: none;
}

nav a:hover {
  color: var(--secondaryColor);
}

.container .nav-btn {
  padding: 2px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

.nav_black {
  background-color: var(--primaryColor);
}

.container div,
nav {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  .container .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  .container nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 35%;
    display: flex;
    margin-top: 80px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    background-color: var(--primaryColor);
    transition: 0.5s;
    transform: translateX(100vh);
  }

  .container .responsive {
    transform: none;
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav a {
    font-size: 1.5rem;
  }
}