* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}

/*custom variables for colors*/
:root {
  --primaryColor: rgb(154, 65, 222);
  --scrollColor: rgb(110, 85, 127);
  --secondaryColor: black;
  --textColor: white;
}